DATABASE_URL=your_database_url_here
SMTP_SERVER=your_smtp_server_here
SMTP_PORT=587
EMAIL_USER=your_email_here
EMAIL_PASS=your_password_here
SENDER_NAME=NWU Hackathon Team
EVENT_NAME=Your Event Name
EVENT_DATE=YYYY-MM-DD
EVENT_CODE=EVENTCODE
BASE_URL=http://127.0.0.1:8000
TICKETS_DIR=tickets
