SUPABASE_URL=https://hkgeazffvgepdaybawqn.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhrZ2VhemZmdmdlcGRheWJhd3FuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NTgwMDcyNCwiZXhwIjoyMDcxMzc2NzI0fQ.Cj_x8V4avCFm-zyJENRrX90tT4IMpT43TC4F4lCjQ38

SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_EMAIL=artinadutjoammakoma@gmail.com
SMTP_PASSWORD=ehrz zzci yhot rfqb
